*{
  box-sizing: border-box;
  text-align: center;
}

.header{
  background: blue;
  padding: 10px;
}

table{
  width: 100%;
}

tr,td,th,table{
border: 1px solid;
}

th{
  background: #081B4B;
  color: white;
  padding: 6px;
}